## support vector regression implementation

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=sns.load_dataset('tips')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
df['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [5]:
df['smoker'].value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [5]:
df['day'].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [6]:
df['time'].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [7]:
## independent and dependent
X= df[['tip','sex','smoker','day','time','size']]
y=df['total_bill']

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25,random_state=10)

In [9]:
X_train['sex'].value_counts()

sex
Male      116
Female     67
Name: count, dtype: int64

In [10]:
X_train['smoker'].value_counts()

smoker
No     118
Yes     65
Name: count, dtype: int64

In [11]:
X_train['time'].value_counts()

time
Dinner    133
Lunch      50
Name: count, dtype: int64

In [12]:
X_train['day'].value_counts()

day
Sat     63
Sun     59
Thur    46
Fri     15
Name: count, dtype: int64

In [13]:
X_train.head()

      tip   sex smoker  day    time  size
58   1.76  Male    Yes  Sat  Dinner     2
1    1.66  Male     No  Sun  Dinner     3
2    3.50  Male     No  Sun  Dinner     3
68   2.01  Male     No  Sat  Dinner     2
184  3.00  Male    Yes  Sun  Dinner     2

In [14]:
## Feature Encoding( label encoding and one-hot encoding)
from sklearn.preprocessing import LabelEncoder
le1=LabelEncoder()
le2=LabelEncoder()
le3=LabelEncoder()

In [15]:
X_train['sex']=le1.fit_transform(X_train['sex'])
X_train['smoker']=le2.fit_transform(X_train['smoker'])
X_train['time']=le3.fit_transform(X_train['time'])

In [16]:
X_train['sex'].value_counts()

sex
1    116
0     67
Name: count, dtype: int64

In [17]:
X_train['smoker'].value_counts()

smoker
0    118
1     65
Name: count, dtype: int64

In [18]:
X_train['time'].value_counts()

time
0    133
1     50
Name: count, dtype: int64

In [19]:
X_train.head()

      tip  sex  smoker  day  time  size
58   1.76    1       1  Sat     0     2
1    1.66    1       0  Sun     0     3
2    3.50    1       0  Sun     0     3
68   2.01    1       0  Sat     0     2
184  3.00    1       1  Sun     0     2

In [20]:
X_test['sex']

162    Female
60       Male
61       Male
63       Male
69       Male
        ...
201    Female
149      Male
175      Male
226    Female
49       Male
Name: sex, Length: 61, dtype: category
Categories (2, object): ['Male', 'Female']

In [22]:
X_test['sex']=le1.transform(X_test['sex'])
X_test['smoker']=le2.transform(X_test['smoker'])
X_test['time']=le3.transform(X_test['time'])

ValueError: y contains previously unseen labels: 0

In [23]:
X_test.head()

      tip  sex  smoker  day  time  size
162  2.00    0       0  Sun     0     3
60   3.21    1       1  Sat     0     2
61   2.00    1       1  Sat     0     2
63   3.76    1       1  Sat     0     4
69   2.09    1       1  Sat     0     2